.DS_Store
*.aux
*.fls
*.mp
*.dvi
*.out
*.ps
*.synctex.gz
*.tmp
*.toc
*.tui
*.bbl
*.blg
*.fdb_latexmk
*.fff
*.fls
*.ttt
*.4ct
*.4tc
*.idv
*.lg
*.xref
*.log
cover-letter-*/*.pdf
!cover-letter-cogsci2/coverletter.pdf
jep-lmc*
report 2014*.pdf
search-dois*
reference-titles.txt
env/*